// Color Pallete
$background: #2D283E;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body{
    width:100vw;
    height:100vh;
    background-color: $background;
    font-family: 'Oswald',sans-serif;
    color:white;
}
#logomain{
    font-size: 80px;
    position: absolute;
    top:10px;
    left:30px;
}
#score{
    position: absolute;
    top:35%;
    left:45%;
    width:300px;
    height:300px;
    border-radius: 50%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    color: $background;
    flex-direction: column;
    font-size: 20px;
    transition-duration: 0.6s;
    cursor: pointer;
}

#score:hover{
    transform: scale(2);
    transition-duration: 0.6s;
}

hr{
    border-top: 3px solid $background;
    width:140px;
}

#nav{
    position: absolute;
    top:30px;
    right:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav div{
    margin:10px;
}
a{
    text-decoration: none;
    color:white;
}