@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@font-face {
  font-family: "haas light";
  src: url("NeueHaasDisplay-Light.ttf");
}

@font-face {
  font-family: "haas thin";
  src: url("NeueHaasDisplay-Thin.ttf");
}

@font-face {
  font-family: "haas xthin";
  src: url("NeueHaasDisplay-XThin.ttf");
}

@font-face {
  font-family: "haas bold";
  src: url("NeueHaasDisplay-Bold.ttf");
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'haas light',sans-serif;
  background-color: #2D283E;
}

#logomain {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 30px;
  font-family: 'Oswald';
  color: white;
}

#score {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2D283E;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px #626262;
          box-shadow: 2px 2px 5px #626262;
}

#score:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-box-shadow: 6px 6px 6px #626262;
          box-shadow: 6px 6px 6px #626262;
}

#data, #devices div, #details div, #status div {
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 20px;
  color: #2D283E;
  font-size: 20px;
}

#container, #devices, #details, #status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 13%;
  left: 22%;
  background-color: rgba(129, 101, 166, 0.2);
  border-radius: 12px;
}

#container div, #devices div, #details div, #status div {
  margin: 20px;
}

hr {
  border-top: 1px solid #2D283E;
  width: 240px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#nav {
  position: absolute;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav div {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}

#scoreVal {
  font-size: 50px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 20vw;
  background-color: #2D283E;
  color: white;
  padding-top: 15vh;
  font-size: 20px;
  font-family: "haas bold";
}

#sidebar div {
  margin-bottom: 30px;
}

#devices {
  width: 600px;
  height: 240px;
  left: 65%;
}

#details {
  width: 1000px;
  height: 400px;
  top: 40%;
}

#details div {
  width: 900px;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

#status {
  width: 370px;
  height: 400px;
  top: 40%;
  left: 77%;
}

#status div {
  width: 300px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#status span {
  margin-bottom: -30px;
}

#photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg");
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-position: center;
}

button {
  font-family: 'haas bold';
}

#sideDevice {
  text-align: center;
}

li {
  font-family: 'haas light';
}

span {
  font-family: 'haas bold';
}

.compliant {
  color: #5fc88b;
}

.noncompliant {
  color: #f15b5b;
}

.notconfigured {
  color: #eeb37c;
}

#detailsAnalysis {
  font-size: 16px;
}

#sideDevice li {
  cursor: pointer;
}

#sideDevice li:hover {
  color: #5fc88b;
}

tr {
  border-bottom: 0.5px solid #626262;
}

#statusScore {
  font-family: 'haas bold';
  font-size: 26px !important;
  text-align: center;
}

#signOutButton {
  display: none;
}

table {
  width: 100%;
}

#logoHome {
  font-size: 140px;
  font-family: 'Oswald';
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* @media only screen and (max-width: 720px) { */
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container, #devices, #details, #status {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #dash, #devices, #details, #status {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    position: unset;
    margin: 0px;
  }
}
/*# sourceMappingURL=style.css.map */